<template name="createMeeting">

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Adicionar Reunião</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" id="new-meeting-form" action="action">

        <div class="form-group">
          <label for="meeting-project" class="col-sm-3 control-label form-element">Projeto</label>
          <div class="col-sm-9">
            <select id="new-meeting-project" class="form-control form-element">
              <option name="empty">Escolha um projeto</option>
              {{#each projects}}
              <option name="{{ _id }}">{{ name }}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="meeting-date" class="col-sm-3 control-label">Data</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="new-meeting-date" placeholder="aaaa-mm-dd">
          </div>
        </div>

        <div class="form-group">
          <label for="meeting-time" class="col-sm-3 control-label">Hora</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="new-meeting-time" placeholder="hh:mm">
          </div>
        </div>

        <div class="form-group">
          <label for="meeting-department" class="col-sm-3 control-label form-element">Departamento</label>
          <div class="col-sm-9">
            <select id="new-meeting-department" class="form-control form-element">
              <option name="empty">Escolha um departmento</option>
              <option name="tecnologia">Tecnologia</option>
              <option name="inovação">Inovação</option>
              <option name="interno">Interno</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="meeting-description" class="col-sm-3 control-label">Descrição</label>
          <div class="col-sm-9">
            <textarea id="new-meeting-description" placeholder="Descrição (opcional)" class="form-control form-element" rows="6"></textarea>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="submit-new-meeting-form" class="btn btn-success">Adicionar</button>
    </div>
  </div>
</div>

</template>
