<template name="createMeeting">

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Adicionar Reunião</h4>
    </div>
    <div class="modal-body">
      <form id="new-meeting-form" action="action">
        <span>Projeto</span>
        <select id="meeting-project" class="form-control form-element">
          <option name="empty">Escolha um projeto</option>
          {{#each projects}}
          <option name="{{ _id }}">{{ name }}</option>
          {{/each}}
        </select>
        
        <span>Data</span>        
        <input type="text" id="meeting-date" placeholder="DD-MM-AAAA" class="form-control form-element"/>

        <span>Hora</span>        
        <input type="text" id="meeting-time" placeholder="HH-MM" class="form-control form-element"/>

        <select id="meeting-department" class="form-control form-element">
          <option name="empty">Escolha o departamento</option>
          <option name="Tecnologia">Tecnologia</option>
          <option name="Inovação">Inovação</option>
          <option name="Iterno">Interno</option>
        </select>

        <textarea id="meeting-description" placeholder="Descrição (opcional)" class="form-control form-element" rows="6"></textarea>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success">Adicionar</button>
    </div>
  </div>
</div>

</template>
