<template name="modals">

<!-- Meeting Information Modal START -->

<div class="modal fade" id="meeting-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Informação da Reunião</h4>
      </div>

      <div class="modal-body">

        <div id="meeting-info-alert" class="">
          <a href="#" class="close" onclick="$('#meeting-info-alert').hide()">&times;</a>
          <span id="meeting-info-alert-text"></span>
        </div>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="meeting-project" class="col-sm-3 control-label">Projeto</label>
            <div class="col-sm-9">
              <p class="modal-element">{{m_project}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting-date" class="col-sm-3 control-label">Data</label>
            <div class="col-sm-9">
              <p class="modal-element">{{m_date}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting-time" class="col-sm-3 control-label">Hora</label>
            <div class="col-sm-9">
              <p class="modal-element">{{m_time}} h</p>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting-department" class="col-sm-3 control-label">Departamento</label>
            <div class="col-sm-9">
              <p class="modal-element">{{m_department}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting-description" class="col-sm-3 control-label">Descrição</label>
            <div class="col-sm-9">
              <p class="modal-element">{{m_description}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting-members" class="col-sm-3 control-label">Membros</label>
            <div class="col-sm-9">
              {{#each m_members}}
                <p class="modal-element">{{profile.name}}</p>
              {{/each}}
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" id="delete-meeting" class="btn btn-danger">Eliminar</button>
      </div>

    </div>
  </div>

</div>

<!-- Meeting Information Modal END -->

<!-- Ata Information Modal START -->

<div class="modal fade" id="ata-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Ata</h4>
      </div>

      <div class="modal-body">

        <div id="ata-info-alert" class="">
          <a href="#" class="close" onclick="$('#ata-info-alert').hide()">&times;</a>
          <span id="ata-info-alert-text"></span>
        </div>

        <form class="form-horizontal">
          
          <div class="form-group">
            <label for="ata-projec" class="col-sm-3 control-label">Projeto</label>
            <div class="col-sm-9">
              <p class="modal-element">{{a_project}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="ata-date" class="col-sm-3 control-label">Data</label>
            <div class="col-sm-9">
              <p class="modal-element">{{a_date}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="ata-content" class="col-sm-3 control-label">Conteudo</label>
            <div class="col-sm-9">
              <p class="modal-element">{{a_content}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="ata-members" class="col-sm-3 control-label">Membros</label>
            <div class="col-sm-9">
              {{#each a_members}}
                <p class="modal-element">{{profile.name}}</p>
              {{/each}}
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" id="delete-ata" class="btn btn-danger">Eliminar</button>
        <button type="button" id="download-pdf" class="btn btn-danger">Download PDF</button>
      </div>

    </div>
  </div>

</div>

<!-- Ata Information Modal END -->

</template>
