/* General */

.form-element{
	margin-top: 5px;
}

.modal-element{
	margin-top: 7px;
}

#add-buttons{
	margin: 50px;
}

.panel-heading a:link,
.panel-heading a:visited,
.panel-heading a:hover,
.panel-heading a:active{
	text-decoration: none;
	color: #777777;
}

#side-bar{
	margin-top: -15px;
	margin-left: 20px;
}

.plus-sign{
	margin-top: -10px;
}

/* Login */

.login-element{
	margin-top: 10px;
}

/* Reset Bootstrap */

.alert{
	margin-bottom: 0px;
}

/* Calendar */

#calendar{
	margin: 50px;
}

.fc-today{
   background-color: #DEDEDE;
}
