/* Genereal */

.form-element{
	margin-top: 5px;
}

.modal-element{
	margin-top: 7px;
}

/* Login */

.login-element{
	margin-top: 10px;
}

/* Reset Bootstrap */

.alert{
	margin-bottom: 0px;
}

/* Calendar */

#calendar{
	margin: 50px;
}

.fc-today{
   background-color: #DEDEDE;
}
