<template name="manageProjects">

<h3>Adicionar novo projeto:</h3>

<form id="new-project-form" action="action">
  <input type="text" id="project-name" placeholder="Nome" class="form-control form-element"/>

  <select id="project-department" class="form-control form-element">
    <option name="Tecnologia">Tecnologia</option>
    <option name="Inovação">Inovação</option>
    <option name="Iterno">Interno</option>
  </select>

  <button type="submit" id="submit_project" class="btn btn-success btn-block form-element">Adicionar</button>
</form>

</template>
