<template name="managemembers">
  <div id="info-paragraph" class="">
    <a href="#" class="close" onclick="$('#info-paragraph').hide()">&times;</a>
    <span id="info-paragraph-text"></span>
  </div>

  <h3>Adicionar novo membro:</h3>

  <form id="new-member-form" action="action">
    <input type="text" id="member-name" placeholder="Nome" class="form-control form-element"/>

    <input type="text" id="member-email" placeholder="Email" class="form-control form-element"/>

    <select id="member-department" class="form-control form-element">
      <option name="Tecnologia">Tecnologia</option>
      <option name="Inovação">Inovação</option>
      <option name="Iterno">Interno</option>
    </select>

    <button type="submit" class="btn btn-success btn-block form-element">Adicionar</button>
  </form>

  <h3>Gerir membros:</h3>

  <p class="form-element">Escolha o membro a editar:</p>

  <select id="membro-selector" class="form-control">
    <option name="empty" selected>Escolha o membro a editar</option>
    {{#each membros}}
      <option name="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <p class="form-element">Edite e clique no botão atualizar para guardar.</p>

  <form id="edit-member-form" action="action">
    <input type="text" id="edit-member-name" placeholder="Nome" class="form-control form-element"/>

    <input type="text" id="edit-member-email" placeholder="Email" class="form-control form-element"/>

    <select id="edit-member-department" class="form-control form-element">
      <option name="Tecnologia">Tecnologia</option>
      <option name="Inovação">Inovação</option>
      <option name="Iterno">Interno</option>
    </select>
  </form>

  <div class="btn-group btn-group-justified form-element">
    <div class="btn-group">
      <button class="btn btn-success" id="update-member">Atualizar</button>    
    </div>
    <div class="btn-group">
      <button class="btn btn-danger" id="delete-member">Eliminar</button>
    </div>
  </div>
</template>
