<template name="manageProjects">

<div id="manage-projects-alert" class="">
  <a href="#" class="close" onclick="$('#manage-projects-alert').hide()">&times;</a>
  <span id="manage-projects-alert-text"></span>
</div>

<h4>Adicionar novo projeto:</h4>

<form id="new-project-form" action="action">
  <input type="text" id="project-name" placeholder="Nome" class="form-control form-element"/>

  <select id="project-department" class="form-control form-element">
    <option name="Tecnologia">Tecnologia</option>
    <option name="Inovação">Inovação</option>
    <option name="Iterno">Interno</option>
  </select>

  <button type="submit" id="submit_project" class="btn btn-success btn-block form-element">Adicionar</button>
</form>

</template>
