<template name="manageProjects">

<div id="manage-projects-alert" class="">
  <a href="#" class="close" onclick="$('#manage-projects-alert').hide()">&times;</a>
  <span id="manage-projects-alert-text"></span>
</div>

<h4>Adicionar novo projeto:</h4>

<form id="new-project-form" action="action">
  <input type="text" id="project-name" placeholder="Nome" class="form-control form-element"/>

  <select id="project-department" class="form-control form-element">
    <option name="empty">Departamento</option>    
    <option name="Tecnologia">Tecnologia</option>
    <option name="Inovação">Inovação</option>
    <option name="Interno">Interno</option>
  </select>

  <button type="submit" id="submit-project" class="btn btn-success btn-block form-element">Adicionar</button>
</form>

<h4>Gerir projetos:</h4>

<form id="manage-projects-form" action="action">

  <select id="manage-project-selector" class="form-control form-element">
    <option name="empty">Escolha um projeto.</option>
    {{#each projetos}}
      <option name="{{ _id }}">{{ name }}</option>
    {{/each}}
  </select>

  <input type="text" id="manage-project-name" placeholder="Nome" class="form-control form-element"/>

  <select id="manage-project-department" class="form-control form-element">
    <option name="empty">Departamento</option>
    <option name="Tecnologia">Tecnologia</option>
    <option name="Inovação">Inovação</option>
    <option name="Interno">Interno</option>
  </select>

  <select id="manage-project-state" class="form-control form-element">
    <option name="empty">Estado</option>
    <option name="Em execução">Em execução</option>
    <option name="Terminado">Terminado</option>
  </select>

  <div class="btn-group btn-group-justified form-element">
    <div class="btn-group">
      <button type="button" class="btn btn-success" id="manage-project-update-button">Atualizar</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger" id="manage-project-delete-button">Eliminar</button>
    </div>
  </div>

</form>


</template>
