<template name="addmember">
  <p id="addmember-paragraph">Adicione os membros para quem quer enviar a ata:</p>

  <select id="members-select" class="form-control addmember-form-element">
    <option name="empty" selected>Escolha o membro a adicionar</option>
    {{#each members}}
    <option name="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit" id="add-member" class="btn btn-success btn-block form-element">Adicionar</button>

  <table class="table form-element">
    <thead>
      <tr>
        <th>Membro(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr id="initial-message">
        <td>Sem membros adicionadoss</td>
      </tr>
      {{#each addedm}}
        <tr>
          <td>{{name}} ({{{email}}})<button type="button" class="delete-button btn btn-danger btn-xs pull-right">Eliminar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
