<template name="manageatas">

  <!--

  A fazer:

  Adicionar opção de procurar datas por data, departamento e projeto

  -->

  <div id="manage-info-paragraph" class="">
    <a href="#" class="close" onclick="$('#manage-info-paragraph').hide()">&times;</a>
    <span id="manage-info-paragraph-text"></span>
  </div>

  <p class="form-element">Escolha a ata a editar:</p>

  <select id="ata-selector" class="form-control">
    {{#each atas}}
    <option name="{{_id}}">{{date}} - {{subject}}</option>
    {{/each}}
  </select>

  <p class="form-element">Edite e clique no botão atualizar para guardar ou efetue o download da ata em PDF.</p>

  <form id="edit-ata-form" action="action">
    <input type="text" id="edit-ata-subject" placeholder="Assunto" class="form-control form-element"/>

    <input type="text" id="edit-ata-date" placeholder="Data (clique)" class="form-control form-element"/>

    <select id="edit-ata-department" class="form-control form-element">
      <option name="Tecnologia">Tecnologia</option>
      <option name="Inovação">Inovação</option>
      <option name="Iterno">Interno</option>
    </select>

    <textarea id="edit-ata-content" placeholder="Conteudo da ata" class="form-control form-element" rows="8"></textarea>

    <button type="submit" class="btn btn-success btn-block form-element">Atualizar</button>
  </form>

  <button class="btn btn-danger btn-block form-element" id="download-pdf">Download PDF</button>

</template>
