<template name="manageatas">

  <!--

  Futuramente adicionar opção de procurar atas por: data, departamento, projeto

  -->

  <p>Escolha a data a editar:</p>

  <select id="ata-selector" class="form-control">
    {{#each atasubject}}
    <option name="{{subject}}">{{subject}}</option>
    {{/each}}
  </select>

  <p>Edite e clique no botão atualizar para guardar</p>

  <form id="edit-ata-form" action="action">
    <input type="text" id="edit-ata-subject" placeholder="Assunto" class="form-control new-ata-element"/>

    <input type="text" id="edit-ata-date" placeholder="Data (clique)" class="form-control new-ata-element"/>

    <select id="edit-ata-department" class="form-control new-ata-element">
      <option name="Tecnologia">Tecnologia</option>
      <option name="Inovação">Inovação</option>
      <option name="Iterno">Interno</option>
    </select>

    <textarea id="edit-ata-content" placeholder="Conteudo da ata" class="form-control new-ata-element" rows="8"></textarea>

    <button type="submit" class="btn btn-success btn-block new-ata-element">Atualizar</button>
  </form>  

</template>
