<template name="newata">
  <form id="new-ata-form" action="action">
    <input type="text" id="ata-subject" placeholder="Assunto" class="form-control new-ata-element"/>

    <input type="text" id="ata-date" placeholder="Data (d-m-a)" class="form-control new-ata-element"/>

    <textarea id="ata-content" placeholder="Conteudo da ata" class="form-control new-ata-element" rows="8"></textarea>

    <button type="submit" class="btn btn-success btn-block new-ata-element">Submeter</button>
  </form>  
</template>
